<% if message.mark_as_read! for: current_user %>
<div class="message-highlight">
<li highlight><%= truncate(message.body) %></li>
<p>at <strong><%= message.created_at %></strong><br>
  by <strong><%= message.user.name %></strong></p>
  </div>
<hr>
<% else%>
<li highlight><%= truncate(message.body) %></li>
<p>at <strong><%= message.created_at %></strong><br>
  by <strong><%= message.user.name %></strong></p>
  
  Seen at <%=Time.current%>
<hr>
<% end %>
