<ol class="breadcrumb">
  <li class="breadcrumb-item"><a><%= link_to "Home",sessions_path%></a></li>
  <li class="breadcrumb-item active">Messages</li>
</ol>
<h1>New message to <%= @receiver.name %></h1>

<%= form_for @message do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>

  <%= f.label :body %>
  <%= f.text_area :body %>

  <%= f.submit %>
  <%= f.file_field :picture %>
<% end %>
