<% if  conversation.impressionist_count <=1 %>
<div>
  Chatting with <%= conversation.with(current_user).name %>
  <br>
  <em><%= conversation.messages.last.body.truncate(50) %></em>
  <br>
  <%= link_to "Create new message",conversation_path(conversation),class: 'btn btn-primary'%>
  <%= link_to "FriendList",friendships_path,class: 'btn btn-primary'%>
  <%= link_to "Sent Message", messages_path,class: 'btn btn-primary'%>
<% else %>
Chatting with <%= conversation.with(current_user).name %>
<br>
<em><%= conversation.messages.last.body.truncate(50) %></em>
<br>
<%= link_to "Create new message",conversation_path(conversation),class: 'btn btn-primary'%>
<%= link_to "FriendList",friendships_path,class: 'btn btn-primary'%>
<%= link_to "Sent Message", messages_path,class: 'btn btn-primary'%>
<% end %>

  <hr>
</div>
