<ol class="breadcrumb">
  <li class="breadcrumb-item"><a><%= link_to "Home",sessions_path%></a></li>
  <li class="breadcrumb-item active">Messages</li>
</ol>
<%if logged_in?%>
  <% if @conversations.count ==0%>
  <p>U dont have any conversations</p>
  <p> Find a user to add friend</p>
  <%=  link_to 'send a message', new_message_path(receiver_id: @user) %>
  <%else%>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <% current_user.friendships.each do |friendship|%>
      <a><%=  link_to friendship.friend.name, new_message_path(receiver_id: friendship.friend) %></a>
      <%end%>
    </div>
  </div>
  <div class="main">
    <%= render @conversations %>
    <% end %>
  </div>

<%else%>
<h1>U havent login yet,Login to communicate with your friend</h1>
  <%= link_to "Login", login_path, class: 'btn btn-primary' %>
<%end%>

<% content_for :js do%>
<script type="text/javascript">
$(".card").hover(function() {
  $(this).addClass("conversation-highlight");
}, function(){
  $(this).removeClass("conversation-highlight");
});
$(document).ready(function(){
    $('.navbar .dropdown').hover(function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();
    }, function() {
        $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp()
    });
})
</script>

<%end%>
