<ol class="breadcrumb">
  <li class="breadcrumb-item"><a><%= link_to "Home",sessions_path%></a></li>
  <li class="breadcrumb-item "><%= link_to "Conversation",conversations_path%></li>
  <li class="breadcrumb-item active"><%= @conversation.with(current_user).name %></li>
</ol>
<h1>Chatting with <%= @conversation.with(current_user).name %></h1>

<div id="conversation-main">
  <div id="conversation-body">

    <%= render @conversation.messages %>
  </div>

  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit %>
    <%= f.file_field :picture %>
  <% end %>
</div>
<% content_for :js do%>
<script type="text/javascript">
$(".message-thumbnail").hover(function() {
  $(this).addClass("conversation-highlight");
}, function(){
  $(this).removeClass("conversation-highlight");
});
</script>
<%end%>
